<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.1.0" targetFramework="net461" />
  <package id="Moq" version="4.7.63" targetFramework="net461" />
  <package id="NUnit" version="3.6.1" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.6.1" targetFramework="net461" />
  <package id="OpenCover" version="4.6.519" targetFramework="net461" />
  <package id="Shouldly" version="2.8.2" targetFramework="net461" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net461" developmentDependency="true" />
</packages>